* text=auto eol=lf
/gradlew        text eol=lf
*.sh            text eol=lf
*.bat           text eol=crlf
*.cmd           text eol=crlf
*.jar           binary
*.class         binary
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.pdf           binary
*.zip           binary
*.gz            binary
*.7z            binary
*.woff          binary
*.woff2         binary
*.ttf           binary
*.otf           binary
*.eot           binary
