# Ignore Gradle project-specific cache directory
.gradle
.architectury-transformer/

# Ignore Gradle build output directory
build

# Binary
bin

# Eclipse
.classpath
.settings
.project

run
logs/
.skidfuscator
.idea

# Python release tooling
__pycache__/
